.card.stacked.card-interactive
  .header
    .image
      //- img(src="")
  .icon
    i.fa.fa-air-freshener
  .content
    .title
      h1 Integer sed sapien interdum
    .description
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et orci gravida mi placerat consectetur sagittis non ligula. Proin sit amet augue a neque sagittis gravida ac ut metus.