.card-fancy.stacked.card-interactive
  .header
  .icon
    i.fa.fa-air-freshener
  .content
    .title
      h1 Integer sed sapien interdum
    .description
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et orci gravida mi placerat consectetur sagittis non ligula. Proin sit amet augue a neque sagittis gravida ac ut metus.
  .meta
      .badge
        i.fa.fa-globe.left
        span Public
      .badge
        i.fa.fa-award.left
        span
          em 2
          |  CL
      .badge
        i.far.fa-clock.left
        span
          em 2
          |  hrs 
          em 30
          |  mins
  .status
    .badge.warning
      i.far.fa-dot-circle.left
      span
        | Enrolled