.card
  .header.dark
    .image
      img(src="https://images.unsplash.com/photo-1569307524447-5dbfba5d5635?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80")
    .icon
      i.fa.fa-air-freshener
    h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
  .content
    .title
      h1 Integer sed sapien interdum
    .description
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et orci gravida mi placerat consectetur sagittis non ligula. Proin sit amet augue a neque sagittis gravida ac ut metus.
  //.footer
    .badge
      i.fa.fa-globe.left
      span Public
    .badge
      i.fa.fa-award.left
      span
        em 2
        |  CL
    .badge
      i.far.fa-clock.left
      span
        em 2
        |  hrs 
        em 30
        |  mins