section
  div
    h5 Cards as Grid
    .card-group-horizontal
      each val in [1, 2, 3]
        include card-basic
    hr
    h5 Fancy Cards as Grid
    .card-group-horizontal
      each val in [1, 2, 3]
        include card-fancy
    hr
    h5 Fancy Cards as Row
    .card-group-vertical
      each val in [1, 2, 3]
        include card-fancy
    
  div
    h5 Table
    include table
  div
    h5 Icons
    .grid-square
        each val in ['icon-info-xs','icon-info-sm','icon-info-md','icon-info-lg','icon-info-xl','icon-success-xs','icon-success-sm','icon-success-md','icon-success-lg','icon-success-xl','icon-warning-xs','icon-warning-sm','icon-warning-md','icon-warning-lg','icon-warning-xl','icon-danger-xs','icon-danger-sm','icon-danger-md','icon-danger-lg','icon-danger-xl']
          .cell
            span
              div(class=val)
                i.fa.fa-air-freshener
    .grid-square
        each val in ['icon-card-header-xs','icon-card-header-sm','icon-card-header-md','icon-card-header-lg','icon-card-header-xl']
          .cell
            span
              div(class=val)
                i.fa.fa-air-freshener
  div 
    h5 Buttons
    button 
      i.fa.fa-box.left
      | Default
      i.fa.fa-box.right
    button.disabled Disabled
    button.secondary Secondary
    button.success Success
    button.warning Warning
    button.danger Danger
    button.outline Default
    button.secondary.outline Secondary
    button.success.outline Success
    button.warning.outline Warning
    button.danger.outline Danger
    hr
    button.block Block button
    hr
    button.large Large
  hr
  div
    h5 Badges
    .badge 
      i.fa.fa-tag.left
      | Label
    .badge.info 
      i.fa.fa-box.left
      | Information
    .badge.success 
      i.fa.fa-box.left
      | Success
    .badge.warning 
      i.fa.fa-box.left
      | Warning
    .badge.danger 
      i.fa.fa-box.left
      | Danger
    div.u-margin-top.u-margin-bottom
      .badge-lockup
        .element
          h2 Say hello!
        .badge.success 123
      .badge-lockup
        .element
          button.outline Default
        .badge.warning 123
      .badge-lockup
        .element
          .icon-info-md
            i.fa.fa-box
        .badge.danger 123
    div
      h5 Tabs
      .tabs
        ul
          li.active
            a(href='#') One
          li
            a(href='#') Two
          li
            a(href='#') Three
      .tabs.align-start.border-top
        ul
          li.note Lorem ipsum dolor sit amet
          li.active
            a(href='#') One
          li
            a(href='#') Two
          li
            a(href='#') Three
          li.note Lorem ipsum dolor sit amet
      .tabs.align-end
        ul
          li.active.seperator
            a(href='#') One
          li.seperator
            a(href='#') Two
          li.seperator
            a(href='#') Three
    hr
    div
      h5 Layout - grid square
      .grid-square
        each val in [1, 2, 3, 4]
          .cell
            span
              i.fa.fa-5x.fa-air-freshener
    hr
    div
      h5 Banners
      .banner-message-container
        .banner-message
          .icon
            i.fa.fa-cog
          .content
            h1 Some Title
            p Some Message
          .cta
            button.white.outline Dismiss
        .banner-message.info
          .icon
            i.fa.fa-cog
          .content
            h1 Some Title
            p Some Message
          .cta
            button.white.outline Dismiss
        .banner-message.success
          .icon
            i.fa.fa-cog
          .content
            h1 Some Title
            p Some Message
          .cta
            button.white.outline Dismiss
        .banner-message.warning
          .icon
            i.fa.fa-cog
          .content
            h1 Some Title
            p Some Message
          .cta
            button.white.outline Dismiss
        .banner-message.danger
          .icon
            i.fa.fa-cog
          .content
            h1 Some Title
            p Some Message
          .cta
            button.white.outline Dismiss
