h1 Compact
form.form.form-inline
  fieldset
    legend A compact inline form
    .form-hgroup
      input(type='email' placeholder='Email')
      input(type='password' placeholder='Password')
    label(for='default-remember')
      input#default-remember(type='checkbox')
      | Remember me
    button(type='submit') Sign in

h1 Stacked
form.form.form-stacked
  fieldset
    legend A Stacked Form
    label.required(for='stacked-email') Email
    input#stacked-email(type='email' placeholder='Email')
    span.form-message This is a required field.
    label(for='stacked-password') Password
    input#stacked-password(type='password' placeholder='Password')
    label(for='stacked-state') State
    select#stacked-state
      option AL
      option CA
      option IL
    label.form-checkbox(for='stacked-remember')
      input#stacked-remember(type='checkbox')
      |  Remember me
    button(type='submit') Sign in
h1 Aligned Form
form.form.form-aligned
  fieldset
    .control-group
      label.required(for='aligned-name') Username
      input#aligned-name(type='text' placeholder='Username')
      div.form-message-inline This is a required field.
    .control-group
      label.required(for='aligned-password') Password
      input#aligned-password(type='password' placeholder='Password')
    .control-group
      label(for='aligned-email') Email Address
      input#aligned-email(type='email' placeholder='Email Address')
    .control-group
      label(for='aligned-foo') Supercalifragilistic Label
      input#aligned-foo(type='text' placeholder='Enter something here...')
    .control-group
      .controls
        label.form-checkbox(for='aligned-cb')
          input#aligned-cb(type='checkbox')
          |  I&apos;ve read the terms and conditions
        button(type='submit') Submit

