section.app-header
    .container-horizontal
        .start
            h1 RHU Styles Testing
        .end
            button.white.outline.pill 
                i.fa.fa-cog.left
                | Button