table.table
  thead
    tr
      th(scope='col') Col 2
      th(scope='col') Col 3
      th(scope='col') Col 4
  tbody
    tr
      td data
      td data
      td data
    tr
      td data
      td data
      td data
    tr
      td data
      td data
      td data
    tr
      td data
      td data
      td data
    tr
      td data
      td data
      td data

table.table.zebra-rows.zebra-cols.border-none
  colgroup
    col
    col.column-feature
    col
    col
  thead
    tr
      th(scope='col')
        i.fa.fa-book.left
        |  Col 1
      th(scope='col') Col 2
      th(scope='col') Col 3
      th(scope='col') Col 4
  tbody
    tr
      th Row 1
      td data
      td data
      td.info data
    tr
      th Row 2
      td data
      td data
      td.success data
    tr
      th Row 3
      td data
      td data
      td.warning data
    tr
      th Row 4
      td data
      td data
      td.danger data
    tr
      th Row 5
      td data
      td data
      td data
  tfoot
    tr
      th(scope='col') Col 1
      th(scope='col') Col 2
      th(scope='col') Col 3
      th(scope='col') Col 4
  caption Look, I'm a table caption!
