.icon-card-header-square-xl {
  @extend .shadow-sm;
  position: relative;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  line-height: 75px;
  background: linear-gradient(-20deg, $teal-tint3, #fff);
  text-align: center;
  border-radius: 0.25rem;
  border: 2px solid #fff;
  i {
    position: relative;
    top: 5px;
    color: #333;
    background: linear-gradient(-20deg, $teal-shade3, $teal-shade2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@mixin icon-container($size, $iconsize) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size;
  font-size: $iconsize;
}

.icon-card-header-round-base {
  @extend .shadow-sm;
  background: linear-gradient(-20deg, $teal-tint3, #fff);
  border-radius: 50%;
  border: 2px solid white;
  i {
    color: #333;
    background: linear-gradient(-20deg, $teal-shade3, $teal-shade2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.icon-card-header-round-sm {
  @extend .icon-card-header-round-base;
  @include icon-container(48px, 1.2rem);
}

.icon-card-header-round-lg {
  @extend .icon-card-header-round-base;
  @include icon-container(75px, 2rem);
}

.icon-card-header-round-xl {
  @extend .icon-card-header-round-base;
  @include icon-container(100px, 3rem);
}
