%element-tab {
  @extend .control-label;

  margin: 0;
  padding: $base-value $base-value * 2;
}

.tabs {
  display: block;
  margin: $scale6 0;
  text-align: center;
  border-bottom: 2px solid $primary-color;
  &.align-start {
    text-align: left;
  }
  &.align-end {
    text-align: right;
  }
  ul {
    @extend .u-list-plain-horizontal;
    li {
      a {
        @include transition-all();
        @extend .u-unselectable;
        @extend %element-tab;
        display: block;
        color: $primary-color-dark;
        background-color: $grey0;
      }
      a:hover {
        background-color: $grey2;
        text-decoration: none;
      }
      &.active {
        a {
          background-color: $primary-color;
          color: #fff;
        }
      }
      &.note {
        @extend %element-tab;
        color: $neutral-color-dark;
        text-transform: none;
        font-weight: $font-weight-bold;
      }
    }
  }
}
